{{ define "main" }}

{{ .Scratch.Set "scope" "list" }}
{{ if .Site.Params.list.showHero | default false }}
{{ $heroStyle := print "partials/hero/" .Site.Params.list.heroStyle ".html" }}
{{ if templates.Exists $heroStyle }}
{{ partial $heroStyle . }}
{{ else }}
{{ partial "partials/hero/basic.html" . }}
{{ end }}
{{- end -}}

{{ $toc := and (.Params.showTableOfContents | default (.Site.Params.list.showTableOfContents | default false)) (in
.TableOfContents "<ul") }} <header>
  {{ if .Params.showBreadcrumbs | default (.Site.Params.list.showBreadcrumbs | default false) }}
  {{ partial "breadcrumbs.html" . }}
  {{ end }}
  <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
  <div class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
    {{ partial "article-meta/list.html" (dict "context" . "scope" "single") }}
  </div>
  <script>
    var oid = "views_{{ .File.Path }}"
    var oid_likes = "likes_{{ .File.Path }}"
  </script>
  {{ $jsPage := resources.Get "js/page.js" }}
  {{ $jsPage = $jsPage | resources.Minify | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $jsPage.RelPermalink }}" integrity="{{ $jsPage.Data.Integrity }}"></script>
  </header>
  <section class="{{ if $toc -}}
      mt-12
    {{- else -}}
      mt-0
    {{- end }} prose flex max-w-full flex-col dark:prose-invert lg:flex-row">
    {{ if $toc }}
    <div class="order-first px-0 lg:order-last lg:max-w-xs ltr:lg:pl-8 rtl:lg:pr-8">
      <div class="toc ltr:pl-5 rtl:pr-5 lg:sticky {{ if hasPrefix .Site.Params.header.layout "fixed" -}}
      lg:top-[140px]{{ else }}lg:top-10{{ end }}">
        {{ partial "toc.html" . }}
      </div>
    </div>
    {{ end }}
    <div class="min-w-0 min-h-0 max-w-prose">
      {{ .Content | emojify }}
    </div>




  </section>
  {{ if gt .Pages 0 }}

    <ol class="border-l-2 list-none border-primary-500 dark:border-primary-300">

      {{ range .Pages }}

        {{ $startDate := .Params.start_date | time.Format ":date_medium" }}
        {{ $endDate := .Params.end_date | time.Format ":date_medium" }}

        {{ $icon := .Params.icon | default "check" }}

        {{ $badge := "" }}

        <li class="list-none">
          <div class="flex flex-start">
            <div class="bg-primary-500 dark:bg-primary-300 text-neutral-50 dark:text-neutral-700 min-w-[30px] h-8 text-2xl flex items-center justify-center rounded-full -ml-12 mt-5">
              {{ partial "icon" $icon }}
            </div>
            <div class="block p-6 rounded-lg shadow-2xl min-w-full ml-6 mb-10 backdrop-blur">
              <div class="flex justify-between">
                <h2 class="mt-0 font-bold dark:text-neutral">
                  {{ .Title }}
                </h2>
                {{ if $badge }}
                <h3 class="">
                  {{ partial "badge"  $badge}}
                </h3>
                {{ end }}
              </div>
              <h4 class="mt-0 italic small">
                {{$startDate}} - {{$endDate}}
              </h4>
              <div class="text-gray-700 mb-6">
                {{- .Content -}}
              </div>
            </div>
          </div>
        </li>

      {{ end }}

    </ol>

  {{ else }}
  <section class="mt-10 prose dark:prose-invert">
    <p class="py-8 border-t">
      <em>{{ i18n "list.no_articles" | emojify }}</em>
    </p>
  </section>
  {{ end }}

  {{ end }}
