{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
{{ $url := urls.Parse (.Get "src") }}
{{ $altText := .Get "alt" }}
{{ $caption := .Get "caption" }}
{{ $href := .Get "href" }}
{{ $class := .Get "class" }}
{{ $linkOnImage := .Get "link-on-image" }}

{{ $maybeNoZoom := "" }}
{{ if $linkOnImage }}
  {{ $maybeNoZoom = "nozoom" }}
{{ end }}

<section class="spotlight">
  <div class="image {{ $class }}">
    {{ if $linkOnImage }}
    <a href="{{ $linkOnImage }}">
    {{ end }}
    {{ if findRE "^https?" $url.Scheme }}
      <img src="{{ $url.String }}" alt="{{ $altText }}" class="{{ $maybeNoZoom }}" />
      {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
    {{ else }}
      {{ $resource := "" }}
      {{ if $.Page.Resources.GetMatch ($url.String) }}
        {{ $resource = $.Page.Resources.GetMatch ($url.String) }}
      {{ else if resources.GetMatch ($url.String) }}
        {{ $resource = resources.Get ($url.String) }}
      {{ end }}
      {{ with $resource }}
        {{ with $href }}<a href="{{ . }}">{{ end }}
          {{ if $disableImageOptimization }}
          <img
            src="{{ .RelPermalink }}"
            alt="{{ $altText }}"
            class="{{ $maybeNoZoom }}"
          />
          {{ else }}
          <img
            srcset="
            {{ (.Resize "330x").RelPermalink }} 330w,
            {{ (.Resize "660x").RelPermalink }} 660w,
            {{ (.Resize "1024x").RelPermalink }} 1024w,
            {{ (.Resize "1320x").RelPermalink }} 2x"
            src="{{ (.Resize "660x").RelPermalink }}"
            alt="{{ $altText }}"
            class="{{ $maybeNoZoom }}"
          />
          {{ end }}
        {{ if $href }}</a>{{ end }}
        {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
      {{ else }}
        <img src="{{ $url.String }}" alt="{{ $altText }}" class="{{ $maybeNoZoom }}" />
        {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
      {{ end }}
    {{ end }}
    {{ if $linkOnImage }}
    </a>
    {{ end }}
  </div>
  <div class="content">
    {{ .Inner | markdownify }}
  </div>
</section>